[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
altair-transform = {git = "https://github.com/altair-viz/altair-transform.git"}
altair-viewer = "*"
mysql-connector-python = "*"
seaborn = "*"
sklearn = "*"
statsmodels = "*"
vega-datasets = "*"
jupyterlab = "*"
nodejs = "*"
npm = "*"
streamlit = "*"
streamlit-vega-lite = "*"
jupyterlab-git = "*"
rpy2 = "*"
pyrolite = "*"
plotly = "*"
scikit-bio = "*"

[dev-packages]

[requires]
python_version = "3.9"
